<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GordiTEC.Properties.Settings.CafeteriaConnectionString"
            connectionString="Data Source=LAPTOP-89F36QFK\TBD_CSR;Initial Catalog=Cafeteria;User ID=Sa;Password=Cristian_solis18"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>